<h2 class="centered-text-table-heading">Users List</h2>
<p-table [value]="users">
  <ng-template pTemplate="header">
    <tr>
      <th style="min-width: 15rem">
        <div class="flex justify-content-center align-items-center">
          ID
          <p-columnFilter
            type="text"
            field="id"
            display="menu"
          ></p-columnFilter>
        </div>
      </th>
      <th style="min-width: 15rem">
        <div class="flex justify-content-center align-items-center">
          Email
          <p-columnFilter
            type="text"
            field="Email"
            display="menu"
          ></p-columnFilter>
        </div>
      </th>
      <th style="min-width: 15rem">
        <div class="flex justify-content-center align-items-center">
          Username
          <p-columnFilter
            type="text"
            field="username"
            display="menu"
          ></p-columnFilter>
        </div>
      </th>
      <th style="min-width: 15rem">
        <div class="flex justify-content-center align-items-center">
          Actions
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr>
      <td style="text-align: center;">{{ user.id }}</td>
      <td style="text-align: center;">{{ user.email }}</td>
      <td style="text-align: center;">{{ user.username }}</td>
      <td class="flex justify-content-center align-items-center">
        <button
          class="button-warning"
          pButton
          type="button"
          icon="pi pi-user-edit"
          iconPos="left"
        ></button>
        <button
          class="button-danger"
          pButton
          type="button"
          icon="pi pi-trash"
          iconPos="left"
          (click)="deleteUser(user.username)"
        ></button>
        <button
        class="button-danger"
          pButton
          type="button"
          icon="pi pi-ban"
          iconPos="left"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>
