<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink='/'>TMS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink='/'>Home</a>
          </li>
        </ul>
        <form class="d-flex">
            <button _ngcontent-ofl-c93="" pbutton="" pripple="" type="button" icon="pi pi-user"
             class="p-element p-ripple p-button-rounded p-button-info p-button-outlined p-button p-component p-button-icon-only"
             routerLink="/signIn">
             <span class="p-button-icon pi pi-user" aria-hidden="true"></span>
            </button>
        </form>
      </div>
    </div>
  </nav>