<nav class="navigation">
<div class="brand-title">TMS</div>
<a href="#" class="toggle-menu-button" (click)="showMenuButtons()">
  <span class="toggle-bar"></span>
  <span class="toggle-bar"></span>
  <span class="toggle-bar"></span>
</a>
<div class="navigation-links" id="navigationLinks">
  <ul>
    <li><a routerLink="/tasks/add" *ngIf="isAuthenticated">Add Task</a></li>
    <li><a routerLink="/tasks"*ngIf="isAuthenticated">Dashboard</a></li>
    <li><a routerLink="/users" *ngIf="isAuthenticated">Users</a></li>
    <li><a routerLink="/signIn" *ngIf="!isAuthenticated">Login</a></li>
    <li><a routerLink="/" *ngIf="isAuthenticated" (click)="ngOnDestroy()">Logout</a></li>
  </ul>
</div>
</nav>