<div class="row centered">
    <div class="col-md-12">
        <form #authForm="ngForm" (ngSubmit)="changePassword(authForm)"class="justify-content-center align-items-center" >   
            <div>
                <h5>Set New Password</h5>
                <input pinputtext="" class="p-inputtext p-component p-element ng-tns-c138-36 p-password-input" type="password"
                ngModel name="password">
            </div>
            <div>
                <button label="Change Password"
                 class="p-element p-ripple p-button-success p-button p-component button-with-margins" type="submit">
                 <span class="p-button-label">Change</span>
                 <span class="p-ink" style="height: 455px; width: 455px; top: -216px; left: 16.5px;"></span></button>
            </div>
        </form>
    </div>
</div>