<div *ngIf="isLoading" class="centered">
</div>
<div class="row centered">
    <div class="col-md-12">
        <form #addTask="ngForm" (ngSubmit)="onSubmit(addTask)" class="justify-content-center align-items-center" >    
            <div class="field">
                <h5>Task Title</h5>
                <input pinputtext=""
                 class="p-inputtext p-component p-element ng-pristine ng-valid ng-touched"
                 ngModel name="title" required>
            </div>   
            <div class="field">
                <h5>Task Description</h5>
                <input pinputtext=""
                 class="p-inputtext p-component p-element ng-pristine ng-valid ng-touched"
                 ngModel name="description" required>
            </div>
            <div>
                <h5>Task Status</h5>
                <input pinputtext="" class="p-inputtext p-component p-element ng-tns-c138-36"
                ngModel name="status">
            </div>
            <div>
                <button label="Log In"
                 class="p-element p-ripple p-button-success p-button p-component button-with-margins" type="submit" [disabled]="!addTask.valid">
                 <span class="p-button-label">Create</span>
                 <span class="p-ink" style="height: 455px; width: 455px; top: -216px; left: 16.5px;"></span></button>
            </div>
        </form>
    </div>
</div>