<div class="row centered">
    <div class="col-md-12">  
            <div class="field">
                <h5>Task Title</h5>
                <input pinputtext=""
                 class="p-inputtext p-component p-element ng-pristine ng-valid ng-touched" [(ngModel)]="title">
            </div>   
            <div class="field">
                <h5>Task Description</h5>
                <input pinputtext=""
                 class="p-inputtext p-component p-element ng-pristine ng-valid ng-touched" [(ngModel)]="description">
            </div>
            <div>
                <h5>Task Status</h5>
                <p-dropdown [options]="taskStatuses" [(ngModel)]="selectedStatus" optionLabel="name" [readonly]="true"></p-dropdown>
            </div>
            <div>
                <button label="Create"
                 class="p-element p-ripple p-button-success p-button p-component button-with-margins" type="submit"(click)="createTask()">
                 <span class="p-button-label">Create</span>
                 <span class="p-ink" style="height: 455px; width: 455px; top: -216px; left: 16.5px;"></span></button>
            </div>
    </div>
</div>