<div *ngIf="isLoading" class="centered">
    <app-loading-spinner></app-loading-spinner>
</div>
<div class="row centered">
    <div class="col-md-12">
        <div class="alert alert-danger d-inline-flex p-2" role="alert" *ngIf="error">
            <p>{{error}}</p>
        </div>
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">    
            <div class="field" *ngIf="!isSignedUp">
                <h5>Email</h5>
                <input pinputtext="" type="email"
                 class="p-inputtext p-component p-element ng-pristine ng-valid ng-touched"
                 ngModel name="email" required>
            </div>   
            <div class="field">
                <h5>Username</h5>
                <input pinputtext=""
                 class="p-inputtext p-component p-element ng-pristine ng-valid ng-touched"
                 ngModel name="username" required>
            </div>
            <div>
                <h5>Password</h5>
                <input pinputtext="" class="p-inputtext p-component p-element ng-tns-c138-36 p-password-input" type="password"
                ngModel name="password" required minlength="6">
            </div>
            <div>
                <button label="Log In"
                 class="p-element p-ripple p-button-success p-button p-component button-with-margins" type="submit" [disabled]="!authForm.valid">
                 <span class="p-button-label">{{isSignedUp ? 'Log In!' : 'Sign Up!'}}</span>
                 <span class="p-ink" style="height: 455px; width: 455px; top: -216px; left: 16.5px;"></span></button>
            </div>
            <div>
                <button type="button" label="Info"
                 class="p-element p-ripple p-button-info p-button-text p-button p-component" (click)="switchBetweenLoginAndSignUp()">
                 <span class="p-button-label" style="font-size: small;">{{isSignedUp ? 'Don\'t have an account? Sign Up!' : 'Already have an account? Log In!'}}</span>
                 <span class="p-ink" style="height: 455px; width: 455px; top: -198px; left: 8.5px;"></span></button>
            </div>
        </form>
    </div>
</div>